[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysql-connector-python = "*"
requests = "*"
selenium = "*"
tldextract = "*"
tqdm = "*"
graphviz = "*"
cssutils = "*"
beautifulsoup4 = "*"
defusedxml = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
dbfuzz = 'python3 dbfuzz.py'
script = 'python3 dbfuzz.py'
dbfuzz-fast = 'python3 -OO dbfuzz.py'
script-fast = 'python3 -OO dbfuzz.py'
meta = 'python3 meta.py'
